
*{
    line-height: 1.6em;
}
body{
    background-color: hsl(0, 0%, 94%);
}

h1, h2 {
    color: rgb(60, 100, 120);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline  #1287a8;

}

h3 {
    color: #1287a8;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline rgb(60, 100, 120);
}

#funhead{
    color: #1287a8;
    font-family: 'Roboto', sans-serif;

}


figure > figcaption, caption{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
summary + p {
    color: #0Af;
    border: 2px solid rgb(60, 100, 120);
    border-radius: 8px;
}

p{
    font-family: 'Montserrat', sans-serif;
    max-width: 60%;
    min-width: 10%;
    font-weight: normal;
}
.survey{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

label[for="Instagram"] {
    color: rgba(193, 53, 132, 0.6);
}

label[for="Twitter"] {
    color: rgb(29, 161, 242);
}

label[for="Facebook"] {
    background-color: #4267b2;
    color: white;
}

p~canvas:hover {
    background-color: hsla(120, 60%, 70%, 0.3);
}

p.groove{
    border-style:groove;
    border-width:thin;
}

section table{
    border-style: ridge;
    border-width: thick;
    border-color:rgb(60, 100, 120);
    margin: auto;
}

th, td {
    border: 1px solid rgb(60, 100, 120);
}

#signature{
    max-width: 100vw;
    text-align: right;
}

.poem{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-left: 0.5in;
    padding: 0.5cm 0.2cm 1.8cm 0.2cm;
    width: 300px;
    background-color: #aec6cf;

}

video{
    margin-top: 15px;
    margin-bottom: 15px;
}

aside{
    width: 25%;
    float: right;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 40%;
    font-style: italic;
}

iframe {
    position: static;
    width: 50%;
    margin: 30px 0px 40px 25px;
}

.plan {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}

.btn {
    padding-left: 80px;
    padding-right: 40px;
}
 
img[src="currentBuildHTML.jpg"]{
    height: 400px;
}

.box {
    height: 150px;
    width: 300px;
    border: 3px solid rgb(60, 100, 120);
    position: relative;
}

.circle2{
    position: absolute;
    top: 0px;
    right: 0px;
}

.hidtext{
    display: none;
}

